doctype html

html
  head
    title Hello World
    != css("index")

  body 
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='#/')
            p Hello World
    div.jumbotron
      div.container
        div.col-sm-8.col-sm-offset-2
          p Hello world
      
      
        
    
      
    
  
